body {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__img {
    display: block;
    width: 58px;
    height: 58px;
    background-image: url(../img/logo.svg);
    margin-right: 20px;
}

.logo__text {
    font-size: 24px;
    color: #202020;
}

.nav { 
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
}

.nav>li {
    margin-left: 15px;
}

.nav>li>a {
    text-decoration: none;
    font-size: 14px;
    color: #202020;
}

.nav__btn {
    background-color: #5528FF;
    border-radius: 5px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    font-weight: 700;
}

.wrap {
    width: 100%;
    max-width: 1181px;
    margin: 0 auto;
    padding: 30px 15px;
    box-sizing: border-box;
}

.title-main {
    color: #202020;
    font-weight: 700;
    font-size: 57px;
}

.text-main {
    font-size: 32px;
    font-weight: 00;
    line-height: 1.5;
    color: #4f4f4f;
}

.btn {
    background-color: #5528FF;
    border-radius: 10px;
    padding: 10px 25px;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 24; 

}

.page {
    padding-top: 40px;
    padding-bottom: 109px;
    position: relative;
}

.page-top {
    border-top: 1px solid #C2C2C2;
}

.page h2 {
    position: absolute;
    top: -26px;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
    padding: 5px 15px;  
    color: #C2C2C2;
}

.services {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services-item__img {
    flex-basis: 125px;
    text-align: center;
}

.services-item__text {
    flex-basis: 450px;
}

.services h3 {
    font-size: 28px;
    font-weight: 400;
}

.services p {
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
}

.clients {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.clients-item__img {
    padding: 15px 30px;
    width: 183px;
    height: 73px;
}

.team { 
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.team_text h3 {
    font-size: 28px;
    font-weight: 700;
}

.team_text p {
    font-size: 14px;
    color: #b2b2b2;
    line-height: 1.5;
}

.team-item {
    display: flex;
    align-items: center;
    justify-items: center;
}

.team-item__img {
    padding: 15px 30px;
}

.team-iten__text {
    flex-basis: 167px;
}

.footer {
    background-color: #F7F7F7;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 15px 15px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    color: #B2B2B2;
}